{% block wearejust_readonly_widget %}
    <span style="padding: 0.75em 1em; display:block;">
        {{ field | render_view_element(object) }}
    </span>
{% endblock wearejust_readonly_widget %}

{% block wearejust_switcher_row %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}" id="sonata-ba-field-container-{{ id }}">
        {{- block('form_label') -}}
        <div class="sonata-ba-field sonata-ba-field-standard-natural">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
    </div>
{% endblock wearejust_switcher_row %}
